/* Add a black background color to the top navigation */
html{
  background: rgb(246, 242, 242);
}
.imgcontainer {
text-align: left;
background-color:#325288;
width: 101%;
color: white;
}

img.avatar {
/* width: 13%; */
padding:10px 15px 10px 5px;
border-radius: 50px;
margin-top: 36px;
margin-left: 69px;
}
.imgcon{
  display:flex;
}
.backimg{
  margin-top: -24px;
}

.vision{
  font-family: 'Inter';
  font-weight: bold;
  padding:80px 0 0 70px;
  margin-left:-20px;
}
.words{
  padding-top:150px;
  margin-left:-150px;

}

img.image{
  margin-top: 100px;
  margin-left: 50px;
  width:40%;
  display: flex;
  transition: 0.5s;
  box-shadow: 10px 10px 5px lightgray;

}
img.image:hover{
  transform: scale(0.9);
}
p.p{
position:absolute;
width: 264px;
height:52px;
left:500px;
top:87px;
font-family:'Inter';
font-style: normal;
font-weight: 700;
font-size:48px;
color:white;
transform: translate(-50%, -50%);

}
img.background{
  width:100%;
  padding:0;
  margin:0;
  margin-top:-25px;
  height:500px;
}
.topnav {
  background-color: #EEE;
  overflow: hidden;
  color: black;
  width:101%;
}

.topnav .Logout{
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #6D9886;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color:rgb(248, 245, 245);
  font-weight: 100;
  font-style: normal;
  font-family: 'Inter';
}
form{
  position:absolute;
  background: rgb(246, 242, 242);
  width:70%;
  margin-top: 60px;
  margin-left: 245px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
form>label{
  font-family: 'Inter';
  font-style: normal;
  padding-top:50px;
  padding-left:40px;
}
form>button{
  padding:8px 14px 8px 14px ;
  background-color: dodgerblue;
  margin-top: 15px;
  color:white;
  cursor: pointer;
  margin-left:40px;
}
form>textarea{
  margin-top:30px;
  margin-left: 40px;
  width: 80%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
button:hover{
  background-color:greenyellow;
  color:black;
}

.fa-facebook {
  background: dodgerblue;
  color: white;
  padding:15px;
  margin-left:620px;
  border-radius:22%;
  
}
.fa-instagram{
  background-color: white;
  border-radius:10px;
  padding:15px;
  margin-left:30px;
}
.fa-twitter{
  background:white;
  color:#55ACEE;
  padding:15px;
  margin-left:35px;
  border-radius: 5px;
}
a:hover{
  color:red;
}
.footer {
  background: rgba(0, 71, 182, 0.7);
  position: absolute;
  width: 100%;
  margin-top: 600px ;
  height: 270px;
}
.h2{
  text-align: center;
  font-family: 'Inter';
  font-weight: bold;
  padding-top: 50px;
}
.h3{
  text-align:center;   
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.95);

}
.h4 {
  text-align:center;
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;

}
.head{
  padding-left:20px;
}
.para{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  text-align:center;
}

a.contact{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  padding-left: 600px;
}
.grid{
  display:flex;
  padding:16px;
}
.col1 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color:white;
  margin-top:20px;
  margin-left:70px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col2 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color:white;
  margin-top:20px;
  margin-left:140px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.col3{
  display:grid;
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color:white;
  margin-top:20px;
  margin-left:140px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col4 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:30px;
  width: 600px;
  text-align: center;
  padding-bottom: 30px;
  color:white;
  margin-top:20px;
  margin-left:70px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col5 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:30px;
  width: 600px;
  text-align: center;
  padding-bottom: 30px;
  color:white;
  margin-top:20px;
  margin-left:70px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col1:hover{
  transform: scale(1.1);
}
.col2:hover{
  transform: scale(1.1);
}
.col3:hover{
  transform: scale(1.1);
}
.col4:hover{
  transform: scale(1.1);
}
.col5:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .imgcon>h2{
    padding-top:390px;
    padding-left:10px;
    margin-left:-250px;
  }
  .imgcon>p{
    padding-top:430px;
    font-size:15px;
    text-align: left;
  }

 
  .centered {
    font-size:30px;
    padding-top: -20px;
    color:rgb(8, 8, 8);
    margin-top:-100px;
  }
  img.image{
    width:300px;
    height: 200px;
    margin-top: 150px;
    margin-left:90px;
  }
  .grid{
    display:block;
  }
  .col1 {
    width:10px;
    background-color: lightgreen;
    color:black;
  }
  .col2{
    margin-left:70px;
    background-color: lightgreen;
    color:black;
  }
  .col3{
    margin-left:70px;
    background-color: lightgreen;
    color:black;
  }
  .col4{
    width:400px;
    margin-left: 30px;
    background-color: lightgreen;
    color:black;
  }
  .col5{
    width:400px;
    margin-left: 30px;
    background-color: lightgreen;
    color:black;
  }
  .form{
    width:440px;
    margin-left: 20px;
    background-color: lightgreen;
  }
  .fa-facebook{
    margin-left:140px;
  }
  a.contact{
    padding-left: 130px;
  }
  .vision{
    height:200px;
    margin-left:-50px;
  }
  .words{
    font-size:20px;
    height: 592px;
    margin-top:39px;
    margin-left:-220px;
  }

}
@media screen and (max-width: 960px) {
  p.p{
    font-size: 40px;
    padding-right:350px;
    padding-bottom: 50px;
  }
  .col1{
    width:620px;
    margin-left:30px;
  }
  .col2{
    width:620px;
    margin-left:30px;
    
  }
  .col3{
    width:620px;
    margin-left:30px;
  }
  .form{
    width:460px;
    margin-left: 30px;
  }
  .fa-facebook {
    margin-left: 250px;
  }
  a.contact{
    padding-left: 240px;
  }
  .words{
    margin-left:-200px;
  }
  
}



.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #20bf6b;
}

.alert--error {
  background-color: #eb4d4b;
}