@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald:wght@200&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    overflow: hidden;
}

.logo{
    margin: 0px;
    margin-left: 28px;
    font-weight: bold;  
    color: white;
    margin-bottom: 3rem;
    font-size: 36px;
}



.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #04214e;
    overflow: hidden;
    transition:0.3s;
    padding-top: 30px;
 
}

.sidenav a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 27px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    font-family: 'Oswald',sans-serif;
    font-weight: 600;
    
}

.sidenav a:hover{
    color: #f1f1f1;
    background-color: #001253;
}

#main{
    transition: margin-left .5s ;
    padding: 16px;
    margin-left: 300px;
}
.head{
    padding: 20px;
}

.nav2{
    display: none;

}


.box {
    width: 430px;
    height: 130px;
    background-color: #0C3A5B;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 70px 35px 35px 35px;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 10px;
}

.box:hover{
    background-color: #3A8891;
    cursor: pointer;
    color: white;
    transform: scale(1.1);
    border: 1px black solid;
}

.box p{
    font-size: 20px;
    color: white;
    font-weight: bolder;
    line-height: 30px;
    margin-left: 20px;
    display: inline-block;
    font-family: 'Inter',sans-serif;
    color: white;
    text-transform:uppercase;

}

.box-icon{
    font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    margin-right: 50px!important;
    color:white;
}
#main{
    display: grid;
    grid-template-columns: repeat(4,fr);
}

.first {
    display: flex;
}

.second{
    display: flex;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;	  
  }
  .container {
     overflow-x: auto;
     text-align: center;
    
  }
  table {
     width: 50%;
     margin: 0 auto;
  }

/* Mobile Devices */
@media(max-width:480px){

    html{
        overflow: scroll;
    }

    .box {
        width: 300px;
        height: 120px;
    }

    .box-icon{
        font-size: 34px!important;
    }

    .first{
        flex-direction: column;
    }
    .second{
        flex-direction: column;
    }

}

/* tablet */

@media(min-width:481),(max-width:767){

    .box {
        width: 350px;
        height: 200px;
    }

    .box-icon{
        font-size: 36px!important;
    }

    .first{
        flex-direction: column;
    }
    .second{
        flex-direction: column;
    }

}

