.form {
    position: relative;
 width: 55%;
 height: 900px;
 left: 300px;
 top: 300px;

 background: #FFFFFF;
 box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
}
.header {
    position: absolute;
 width: 100%;
 height: 200px;
 /* left: 0px;
 top: 0px; */

 background: rgba(0, 71, 182, 0.7);
}
.header> p {
    position: absolute;
 width: 264px;
 height: 52px;
 left: 350px;
 top: 87px;

 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 48px;
 line-height: 58px;

 color: #FFFFFF;
}
.header > img {
    position: absolute;
 width: 235px;
 height: 144px;
 left: 70px;
 top: 37px;

 background: url(./img/carWash.jpg);
 border-radius: 40px;
}
.form > h2 {
 position: absolute;
 width: 660px;
 height: 78px;
 left: 200px;
 top: 20px;

 font-family: 'Inter';
 font-style: normal;
 font-weight: 700;
 font-size: 29px;
 line-height: 61px;

 color: #000000;
}
.form > button {
    position: absolute;
 width: 120px;
 height: 40px;
 left: 300px;
 top: 780px;

 background: #325288;
 border-radius: 5px;
}
#name1 {
position: absolute;
width: 50px;
height: 31px;
left: 80px;
top: 170px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;

color: #000000;

}
#name {
  position: absolute;
width: 510px;
height: 30px;
left: 80px;
top: 220px;

background: #EFEFEF;

}
#email1 {
position: absolute;
width: 118px;
height: 31px;
left: 80px;
top: 290px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;

color: #000000;

}

#email {
position: absolute;
width: 510px;
height: 30px;
left: 80px;
top: 340px;

background: #EFEFEF;
}

#contact1 {
position: absolute;
width: 246px;
height: 36px;
left: 80px;
top: 410px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;

color: #000000;
}

#contact {
position: absolute;
width: 189px;
height: 30px;
left: 80px;
top: 460px;

background: #EFEFEF;
}

#license1 {
position: absolute;
width: 220px;
height: 36px;
left: 400px;
top: 410px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;

color: #000000;

}

#license {
position: absolute;
width: 189px;
height: 30px;
left: 400px;
top: 460px;

background: #EFEFEF;
}

#password1 {
position: absolute;
width: 246px;
height: 36px;
left: 80px;
top: 530px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;

color: #000000;

}

#password {
position: absolute;
width: 510px;
height: 30px;
left: 80px;
top: 580px;

background: #EFEFEF;
}

#confirmpassword1 {
position: absolute;
width: 600px;
height: 30px;
left: 80px;
top: 640px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;

color: #000000;

}

#confirmpassword {
position: absolute;
width: 510px;
height: 30px;
left: 80px;
top: 700px;

background: #EFEFEF;
}

.fa {
padding-top: 7px;
font-size: 30px;
width: 33px;
text-align: center;
text-decoration: none;
margin: 7px 2px;
}

.fa:hover {
opacity: 0.7;
} 

.fa-facebook {
background: #3B5998;
color: white;
position: absolute;
width: 45px;
height: 40px;
left: 510px;
top: 85px;
border-radius: 22px;
}

.fa-twitter {
background: white;
color: #55ACEE ;
position: absolute;
width: 45px;
height: 40px;
left: 675px;
top: 85px;
}


.fa-instagram {
background: #125688;
color: white;
position: absolute;
width: 45px;
height: 40px;
left: 590px;
top: 85px;
border-radius: 18px;
margin-right: 10px;
}
.footer {
position: absolute;
width: 100%;
height: 200px;
/* left: 0px; */
top: 1400px;

background: rgba(0, 71, 182, 0.7);

} 

.car_wash {
position: absolute;
width: 257px;
height: 36px;
left: 556px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;

color: rgba(0, 0, 0, 0.95);
}

.nations {
position: absolute;
width: 469px;
height: 36px;
left: 500px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;

color: #FFFFFF;

}
.copyright {
position: absolute;
width: 329px;
height: 24px;
left: 510px;
top: 129px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 24px;

color: #000000;
}
.footer > p > .contactus {
position: absolute;
width: 99px;
height: 24px;
left: 450px;
top: 170px;
text-decoration:none ;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #000000;

}
.footer > p>.book{
position: absolute;
width: 92px;
height: 24px;
left: 570px;
top: 170px;
text-decoration: none;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.footer> p>.plus {
position: absolute;
width: 27px;
height: 24px;
left: 690px;
top: 170px;
text-decoration: none;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-decoration: none;

color: #000000;

}
.footer> p> .feedback {
position: absolute;
width: 92px;
height: 24px;
left: 730px;
top: 170px;
text-decoration: none;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #000000;
}

.form > .icon {

padding: 10px;
background: dodgerblue;
color: black;
width: 15px;
height: 15px;
font-size: 20px;
/* text-align: center; */

}

.fa-user {
top: 0px;
margin-left: 80px;
margin-top:220px;
position: absolute;
}

.fa-envelope {
top: 0px;
margin-left: 563px;
margin-top:340px;
position: absolute;
}
.fa-mobile {
top: 0px;
margin-left: 241px;
margin-top:460px;
position: absolute;
}
.fa-edit {
top: 0px;
margin-left: 562px;
margin-top:460px;
position: absolute;
}
.fa-key {
top: 0px;
margin-left: 563px;
margin-top:580px;
position: absolute;
}
.fa-lock {
top: 0px;
margin-left: 563px;
margin-top:700px;
position: absolute;
}



/* alert message */
.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #20bf6b;
}

.alert--error {
    background-color: #eb4d4b;
}



/* position of the icon */
#fa-user{
    position: relative;
    left: 483px;
    top: -18px;

}
/* #fa-envelope{
    position: relative;
    left: 483px;
    top: -315.9px;

} */
/* #fa-mobile{
    position: relative;
    left: 162px;
    top: -734px;
} */
/* #fa-edit{
    position: relative;
    left: 160px;
    top: -1272px;
} */
/* #fa-key{
    position: relative;
    left: 482px;
    top: -1810px;
} */
/* #fa-lock{
    position: relative;
    left: 20px;
    top: -2200px;
} */