/* Add a black background color to the top navigation */
html{
  background: rgb(246, 242, 242);
}
.imgcontainer {
text-align: left;
background-color:#325288;
width: 101%;
color: white;
}

img.avatar {
/* width: 13%; */
padding:10px 15px 10px 5px;
border-radius: 50px;
margin-top: 36px;
margin-left: 69px;
}
.imgcon{
  display:flex;
}
.backimg{
  margin-top: -24px;
}

.vision{
  font-family: 'Inter';
  font-weight: bold;
  padding:80px 0 0 70px;
  margin-left:-20px;
}
.words{
  padding-top:150px;
  margin-left:-150px;

}

img.image{
  margin-top: 100px;
  margin-left: 50px;
  width:40%;
  display: flex;
  transition: 0.5s;
  box-shadow: 10px 10px 5px lightgray;

}
img.image:hover{
  transform: scale(0.9);
}
p.p{
position:absolute;
width: 264px;
height:52px;
left:500px;
top:87px;
font-family:'Inter';
font-style: normal;
font-weight: 700;
font-size:48px;
color:white;
transform: translate(-50%, -50%);

}
img.background{
  width:100%;
  padding:0;
  margin:0;
  margin-top:-25px;
  height:500px;
}
.topnav {
  background-color: #EEE;
  overflow: hidden;
  color: black;
  width:101%;
}

.topnav .Logout{
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #6D9886;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color:rgb(248, 245, 245);
  font-weight: 100;
  font-style: normal;
  font-family: 'Inter';
}
form{
  position:absolute;
  background: rgb(246, 242, 242);
  width:70%;
  margin-top: 60px;
  margin-left: 245px;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
form>label{
  font-family: 'Inter';
  font-style: normal;
  padding-top:50px;
  padding-left:40px;
}
form>button{
  padding:8px 14px 8px 14px ;
  background-color: dodgerblue;
  margin-top: 15px;
  color:white;
  cursor: pointer;
  margin-left:40px;
}
form>textarea{
  margin-top:30px;
  margin-left: 40px;
  width: 80%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
button:hover{
  background-color:greenyellow;
  color:black;
}

.fa-facebook {
  background: dodgerblue;
  color: white;
  padding:15px;
  margin-left:620px;
  border-radius:22%;
  
}
.fa-instagram{
  background-color: white;
  border-radius:10px;
  padding:15px;
  margin-left:30px;
}
.fa-twitter{
  background:white;
  color:#55ACEE;
  padding:15px;
  margin-left:35px;
  border-radius: 5px;
}
a:hover{
  color:red;
}
.footer {
  background: rgba(0, 71, 182, 0.7);
  position: absolute;
  width: 100%;
  margin-top: 600px ;
  height: 270px;
}
.h2{
  text-align: center;
  font-family: 'Inter';
  font-weight: bold;
  padding-top: 50px;
}
.h3{
  text-align:center;   
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.95);

}
.h4 {
  text-align:center;
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;

}
.head{
  padding-left:20px;
}
.para{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  text-align:center;
}

a.contact{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  padding-left: 600px;
}
.grid{
  display:flex;
  padding:16px;
}
.col1 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color:white;
  margin-top:20px;
  margin-left:70px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col2 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color:white;
  margin-top:20px;
  margin-left:140px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.col3{
  display:grid;
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:20px;
  width: 300px;
  text-align: center;
  padding-bottom: 25px;
  color:white;
  margin-top:20px;
  margin-left:140px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col4 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:30px;
  width: 600px;
  text-align: center;
  padding-bottom: 30px;
  color:white;
  margin-top:20px;
  margin-left:70px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col5 {
  background-color:#5F9DF7;
  font-style: normal;
  font-family: 'Inter';
  padding-top:30px;
  width: 600px;
  text-align: center;
  padding-bottom: 30px;
  color:white;
  margin-top:20px;
  margin-left:70px;
  transition:0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.col1:hover{
  transform: scale(1.1);
}
.col2:hover{
  transform: scale(1.1);
}
.col3:hover{
  transform: scale(1.1);
}
.col4:hover{
  transform: scale(1.1);
}
.col5:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .imgcon>h2{
    padding-top:390px;
    padding-left:10px;
    margin-left:-250px;
  }
  .imgcon>p{
    padding-top:430px;
    font-size:15px;
    text-align: left;
  }

 
  .centered {
    font-size:30px;
    padding-top: -20px;
    color:rgb(8, 8, 8);
    margin-top:-100px;
  }
  img.image{
    width:300px;
    height: 200px;
    margin-top: 150px;
    margin-left:90px;
  }
  .grid{
    display:block;
  }
  .col1 {
    width:10px;
    background-color: lightgreen;
    color:black;
  }
  .col2{
    margin-left:70px;
    background-color: lightgreen;
    color:black;
  }
  .col3{
    margin-left:70px;
    background-color: lightgreen;
    color:black;
  }
  .col4{
    width:400px;
    margin-left: 30px;
    background-color: lightgreen;
    color:black;
  }
  .col5{
    width:400px;
    margin-left: 30px;
    background-color: lightgreen;
    color:black;
  }
  .form{
    width:440px;
    margin-left: 20px;
    background-color: lightgreen;
  }
  .fa-facebook{
    margin-left:140px;
  }
  a.contact{
    padding-left: 130px;
  }
  .vision{
    height:200px;
    margin-left:-50px;
  }
  .words{
    font-size:20px;
    height: 592px;
    margin-top:39px;
    margin-left:-220px;
  }

}
@media screen and (max-width: 960px) {
  p.p{
    font-size: 40px;
    padding-right:350px;
    padding-bottom: 50px;
  }
  .col1{
    width:620px;
    margin-left:30px;
  }
  .col2{
    width:620px;
    margin-left:30px;
    
  }
  .col3{
    width:620px;
    margin-left:30px;
  }
  .form{
    width:460px;
    margin-left: 30px;
  }
  .fa-facebook {
    margin-left: 250px;
  }
  a.contact{
    padding-left: 240px;
  }
  .words{
    margin-left:-200px;
  }
  
}



.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #20bf6b;
}

.alert--error {
  background-color: #eb4d4b;
}





/* About  */



#fh5co-about .fh5co-staff {
  margin-bottom: 3em; }
#fh5co-about .fh5co-staff img {
  width: 230px;
  height: 230px;
  margin: 0 auto;
  transform: scale(1.1);
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

 

  /* .fh5co-staff img {
    transition: all 0.3s ease-in-out;
} */

/* .fh5co-staff img:hover {
    transform: scale(1.1);
} */

#fh5co-about .fh5co-staff img:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.5);
}





#fh5co-about .fh5co-staff h3 {
  font-size: 24px; }
#fh5co-about .fh5co-staff p {
  margin-bottom: 30px; }
#fh5co-about .fh5co-staff:hover img {
  background: rgba(68, 198, 98, 0.2); }
#fh5co-about .fh5co-staff .list-prop {
  display: block;
  margin-bottom: 20px;
  color: #44C662;
  font-weight: 400; }



  
.fh5co-agent {
  background: #44C662; }
.fh5co-agent h3, .fh5co-agent p {
  color: #fff !important; }
.fh5co-agent .fh5co-staff {
  margin-bottom: 30px; }
.fh5co-agent .fh5co-staff img {
  margin-bottom: 20px;
  background: #fff !important;
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
.fh5co-agent .fh5co-staff h3 {
  font-size: 24px;
  color: #fff !important; }
.fh5co-agent .fh5co-staff p {
  margin-bottom: 30px;
  color: #fff !important; }
.fh5co-agent .fh5co-staff p a {
  color: #fff !important; }
.fh5co-agent .fh5co-staff:hover img {
  background: rgba(68, 198, 98, 0.2); }

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  position: relative; }
.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%; }
@media screen and (max-width: 992px) {
  .feature-left .icon {
    width: 10%; } }
@media screen and (max-width: 768px) {
  .feature-left .icon {
    width: 15%; } }
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #44C662; }
.feature-left .feature-copy {
  float: right;
  width: 80%; }
@media screen and (max-width: 992px) {
  .feature-left .feature-copy {
    width: 90%; } }
@media screen and (max-width: 768px) {
  .feature-left .feature-copy {
    width: 85%; } }
@media screen and (max-width: 480px) {
  .feature-left .feature-copy {
    width: 80%; } }
.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px; }
.feature-left .feature-copy p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px; }


  #fh5co-testimonial {
    position: relative;
    background: #44C662; }
  #fh5co-testimonial .fh5co-heading {
    margin-bottom: 4em; }
  #fh5co-testimonial .fh5co-heading h2 {
    color: white;
    font-size: 40px; }
  #fh5co-testimonial .box-testimony {
    margin-bottom: 2em;
    float: left; }
  #fh5co-testimonial .box-testimony a {
    color: rgba(255, 255, 255, 0.5); }
  #fh5co-testimonial .box-testimony a:hover, #fh5co-testimonial .box-testimony a:focus, #fh5co-testimonial .box-testimony a:active {
    color: white;
    text-decoration: none; }
  #fh5co-testimonial .box-testimony blockquote {
    padding-left: 0;
    border-left: none;
    padding: 40px;
    background: #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  #fh5co-testimonial .box-testimony blockquote:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40px;
    border-top: 15px solid black;
    border-top-color: #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; }
  #fh5co-testimonial .box-testimony blockquote .quote {
    position: absolute;
    top: 0;
    left: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 0;
    display: table;
    color: #fff;
    width: 56px;
    height: 56px;
    margin-top: -30px;
    background: #44C662;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  #fh5co-testimonial .box-testimony blockquote .quote > span {
    display: table-cell;
    vertical-align: middle; }
  #fh5co-testimonial .box-testimony blockquote p {
    letter-spacing: 1px; }
  #fh5co-testimonial .box-testimony .author {
    line-height: 20px;
    color: white;
    font-size: 20px;
    margin-left: 20px; }
  #fh5co-testimonial .box-testimony .author .subtext {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px; }
  
  #fh5co-features {
    padding: 7em 0; }
  #fh5co-features .feature-left {
    margin-bottom: 40px; }
  @media screen and (max-width: 992px) {
    #fh5co-features .feature-left {
      margin-bottom: 30px; } }
  #fh5co-features .feature-left .icon i {
    color: #d9d9d9 !important; }
  #fh5co-features .feature-left .icon {
    float: left;
    text-align: center;
    width: 15%; }
  @media screen and (max-width: 992px) {
    #fh5co-features .feature-left .icon {
      width: 10%; } }
  @media screen and (max-width: 768px) {
    #fh5co-features .feature-left .icon {
      width: 15%; } }
  #fh5co-features .feature-left .feature-copy {
    float: right;
    width: 80%; }
  @media screen and (max-width: 992px) {
    #fh5co-features .feature-left .feature-copy {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    #fh5co-features .feature-left .feature-copy {
      width: 85%; } }
  @media screen and (max-width: 480px) {
    #fh5co-features .feature-left .feature-copy {
      width: 80%; } }
  #fh5co-features .feature-left h3 {
    font-size: 16px;
    font-weight: 700; }
  #fh5co-features .feature-left p {
    font-size: 15px; }
  #fh5co-features .feature-left p:last-child {
    margin-bottom: 0; }
  
  
