/* GLOBAL STYLES
-------------------------------------------------- */
/* navbar css*/
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.nav-link{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
}
.fs-4{
  color: white;
  font-weight: bold;
}


.link-dark{
  color: white;
}





.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-item{
  color: white;
}
img{
  vertical-align: center;
}







/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 40px;
  margin-top: -25px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 42rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


 /* Fooooootttter */

 #footer {
  background: #0c62ed;
  padding: 60px;
  margin-top: -20px; }
 

#footer p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-decoration: none; }
  
#footer p a {
  color: rgba(255, 255, 255, 0.5); }
#footer p a:hover, #footer p a:active, #footer p a:focus {
  color: rgba(255, 255, 255, 0.9) !important; }
#footer .section-title {
  font-size: 20px;
  font-weight: 400;
  color: #fff; }
#footer ul {
  margin: 0;
  padding: 0; }
#footer ul li {
  font-size: 16px;
  list-style: none;
  margin-bottom: 0; }
#footer ul li a {
  color: rgba(255, 255, 255, 0.8); }
#footer #fh5co-header-subscribe #email {
  padding-right: 3em;
  border: none;
  background: rgba(0, 0, 0, 0.2); }
#footer #fh5co-header-subscribe button {
  position: absolute;
  top: 0;
  right: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: #44C662;
  border: none; }
#footer #fh5co-header-subscribe button i {
  color: #fff;
  font-size: 19px; }

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.myprofile{
  position: relative;
  top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}



.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #20bf6b;
}

.alert--error {
  background-color: #eb4d4b;
}


.sep-section {
  height: 1px;
  border-bottom: 1px solid #000;
}



/* about us */


#fh5co-about .fh5co-staff {
  margin-bottom: 3em; }
#fh5co-about .fh5co-staff img {
  width: 230px;
  height: 230px;
  margin: 0 auto;
  transform: scale(1.1);
  margin-bottom: 20px;
  background:  #fd9c0d;
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

 

  /* .fh5co-staff img {
    transition: all 0.3s ease-in-out;
} */

/* .fh5co-staff img:hover {
    transform: scale(1.1);
} */

#fh5co-about .fh5co-staff img:hover {
  transform: scale(1.2);
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.5);
}





#fh5co-about .fh5co-staff h3 {
  font-size: 24px; }
#fh5co-about .fh5co-staff p {
  margin-bottom: 30px; }
#fh5co-about .fh5co-staff:hover img {
  background: rgba(68, 198, 98, 0.2); }
#fh5co-about .fh5co-staff .list-prop {
  display: block;
  margin-bottom: 20px;
  color: #44C662;
  font-weight: 400; }