


.container label {
  display: block;
  margin-bottom: 10px;
}

.container input[type="text"],
.container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #dd1313;
  border-radius: 3px;
}

.container textarea {
  height: 100px;
}

.container input[type="submit"] {
  width: auto;
  padding: 8px 20px;
  background-color: #4CAF50;
  color: rgb(230, 38, 38);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #45a049;
}

.success-message {
  color: green;
  margin-top: 10px;
}
